.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  column-gap: 1em;
  text-transform: uppercase;
}

.container h1 {
  color: #0eadbb;
  font-family: ;
}

.div-img {
  grid-column: 2/11;
  grid-row: 1/2;
}

.div-img img {
  width: 100%;
  height: auto;
}

.img-news {
  width: 100%;
}

.now {
  grid-column: 2/5;
  grid-row: 2/3;
}

.miss {
  grid-column: 5/8;
  grid-row: 2/3;
}

.top {
  grid-column: 8/11;
  grid-row: 2/3;
}

.bluetag {
  display: inline-block;
  background: #0eadbb;
  color: white;
  padding: 0.6rem;
  grid-row: 2/4;
}

.redtag {
  display: inline-block;
  background-color: #c12051;
  color: white;
  padding: 0.6rem;
}

.bluetag-highlight {
  display: inline;
  background-color: #0eadbb;
  color: white;
  padding: 0.6rem;
  position: relative;
  top: -2.2rem;
  z-index: 1;
}

.redtag-highlight {
  display: inline;
  background-color: #c12051;
  color: white;
  padding: 0.6rem;
  position: relative;
  top: -2.2rem;
  z-index: 1;
}
